@import './variables.scss';

.detail__item-container {
    display: grid;
  }
  
  @media (min-width: 320px) {
    .detail__item-container {
    grid-template-columns: 90 vw;
    padding: 20px;
  }
  .detail__item-image-container {
    width: 100%;
  }
  .detail__item-image {
    width: 100%;
  }
  .detail__item-description {
    margin-inline-start: 16px;
    margin-inline-end: 16px;
  }
}

@media (min-width: 768px) {
  .detail__item-container {
    grid-template-columns: 2fr 2fr;
    padding: 20px;
  }
  .detail__item-image-container {
    width: 380px;
  }
}

@media (min-width: 1024px) {
  .detail__item-image-container {
    width: 500px;
  }
}

.detail__item-image {
  width: auto;
  height: auto;
}

@media (min-width: 1366px) {
  .detail__item-container {
    grid-template-columns: 2fr 1fr;
  }
  .detail__item-image-container {
    width: 680px;
  }
}

@media (min-width: 1920px) {
  .detail__item-image-container {
    width: 100%;
  }
  .detail__item-button {
    width: 60%;
  }
}

.detail__item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail__item-buy {
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
}

.detail__item-condition {
  font-size: 14px;
  margin-block-start: 32px;
  display: flex;
  align-items: center;
}

.detail__item-title {
  font-size: 24px;
  font-weight: 500;
  margin-block-start: 16px;
  margin-block-end: 0;
  margin-inline-end: 32px;
}

.detail__item-amount {
  font-size: 46px;
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.detail__item-button {
  margin-inline-end: 32px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: $blue;
  height: 45px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.detail__item-condition {
  display: flex;
}

.detail__item-description {
  text-align: justify;
  
}

.detail__item-description-title {
  font-size: 28px;
  margin-block-end: 32px;
  text-align: start;
}

.detail__item-description-description {
  font-size: 16px;
}
