@import './variables.scss';

.detail__container {
    padding-bottom: 20px;
}
.detail__breadcum {
    width: 80vw;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    color: $middlegray;
    flex-wrap: wrap;
    margin: 16px auto;
}

.detail__breadcum p {
    margin: 0;
}

@media(min-width: 320px){
    .detail__item {
        width: 100vw;
    }
}

@media(min-width: 768px){
    .detail__item {
        width: 90vw;
    }
}

@media(min-width: 1024px){
    .detail__item {
        width: 80vw;
    }
}

.detail__item {
    margin: 0 auto;
    background-color: white;
}

.detail__container-no-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-block-start: 3rem;
}

.detail__container-no-item img {
    margin-block-end: 2rem;
}