@import './variables.scss';

.detail__item-container {
    display: grid;
}

@media (min-width: 320px) {
  .detail__item-container {
    grid-template-columns: 80vw;
    padding: 20px;
  }
  .detail__item-image-container {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .detail__item-container {
    grid-template-columns: 2fr 1fr;
    padding: 20px;
  }
  .detail__item-image-container {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .detail__item-container {
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    background-color: white;
  }
  .detail__item-image-container {
    width: 500px;
  }
}

@media (min-width: 1366px) {
  .detail__item-image-container {
    width: 680px;
  }
}

.detail__item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 320px) {
  .detail__item-image {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .detail__item-image {
    width: auto;
  }
}

.detail__item-buy {
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
}

.detail__item-condition {
  font-size: 14px;
  margin-block-start: 32px;
  display: flex;
  align-items: center;
}

.detail__item-title {
  font-size: 24px;
  font-weight: 500;
  margin-block-start: 16px;
  margin-block-end: 0;
  margin-inline-end: 32px;
}

.detail__item-amount {
  font-size: 46px;
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.detail__item-button {
  margin-inline-end: 32px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: $blue;
  height: 45px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.detail__item-condition {
  display: flex;
}

.detail__item-description {
  text-align: justify;
  margin-inline-start: 32px;
}

.detail__item-description-title {
  font-size: 28px;
  margin-block-end: 32px;
}

.detail__item-description-description {
  font-size: 16px;
}
