@import './variables.scss';

.item__container{
    display: grid;
    justify-content: center;
    border: 1px solid $white;
    text-decoration: none;
    color: black;
}
.item__img{
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin-inline-start: 16px;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-end: 16px;
}

.item__img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.item__shipping{
    background: url('../images/shipping.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    float: left;
    margin-inline-start: 1rem;
}
.item__info-container{
    display: flex;
    flex-direction: column;
}
.item__info-shipping {
    display: flex;
    align-items: center;
}
.item__price{
    font-size: 24px;
}
.item__address{
    font-size: 12px;
    text-align: end;
    margin-inline-end: 4rem;
    margin-block-start: 2rem;
}
.item__title{
    font-size: 18px;
    font-weight: 400;
}

@media (min-width: 320px) {
    .item__container{
        grid-template-columns: repeat(1, 2fr);
        padding-inline: 80px;
    }
    .item__img {
        width: 70vw;
        height: 100%;
    }
}
@media (min-width: 520px) {
    .item__container{
        grid-template-columns: 1fr 2fr 1fr;//repeat(3, 2fr);
        padding-inline: 0;
    }
    .item__img {
        width: 180px;
        height: 180px;
    }
}