@import './variables.scss';

.result__container {
    padding-bottom: 20px;
}

@media(min-width: 320px){
    .result__items {
        width: 90vw;
        margin: 0 auto;
        background-color: white;
    }
    .result__breadcum{
        width: 90vw;
    }
}
@media (min-width: 1024px) {
    .result__items {
        width: 70vw;
        margin: 0 auto;
        background-color: white;
    }
    .result__breadcum {
        width: 70vw;
    }
}

.result__breadcum {
    margin: 16px auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    color: $middlegray;
}

.result__breadcum > p {
    margin-block-start: 2px;
    margin-block-end: 2px;
}